<div class="fixed w-1/6 border-r border-slate-100 h-screen p-4 flex flex-col justify-between">

  <div>
    <img src="" />
    <button id="modal" class="border w-full p-1 rounded my-4" (click)="openModalIssue()">
      <fa-icon [icon]="faCheckDouble" />
      New issue
    </button>

    <div class="">
      <div class="flex p-1.5 my-2 cursor-pointer rounded element hover:bg-slate-100" (click)="handleClick(elements[0])" [class.clicked]="elements[0].clicked">
        <fa-icon [icon]="faInbox" />
        <p class="pl-2">Inbox</p>
      </div>
      <div class="flex p-1.5 my-2 cursor-pointer rounded element hover:bg-slate-100" (click)="handleClick(elements[1])" [class.clicked]="elements[1].clicked">
        <fa-icon [icon]="faCheckDouble" />
        <p class="pl-2">My issues</p>
      </div>
      <div class="flex p-1.5 my-2 cursor-pointer rounded hover:bg-slate-100">
        <fa-icon [icon]="faSquareArrowUpRight" />
        <p class="pl-2">Views</p>
      </div>
    </div>

    <p class="mt-4 text-sm">Your team</p>
    <div class="flex p-1.5 my-2 cursor-pointer rounded hover:bg-slate-100">
      <fa-icon [icon]="faFolderBlank" />
      <p class="pl-2">Projcets</p>
    </div>
  </div>

  <div>
    <div class="flex p-1.5 my-2 cursor-pointer rounded hover:bg-slate-100">
      <fa-icon [icon]="faPersonRifle" />
      <p class="pl-2">Profile</p>
    </div>
    <div class="flex p-1.5 my-2 cursor-pointer rounded hover:bg-slate-100">
      <fa-icon [icon]="faSpaghettiMonsterFlying" />
      <p class="pl-2">Settings</p>
    </div>
  </div>

</div>

<app-modal-issue *ngIf="modalIssueVisible" (closeIssue)="closeModalIssue()"></app-modal-issue>